@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap");
//COLORS
//Primary Colors
$primary-light-cyan: hsl(193, 38%, 86%);
$secondary-neon-green: hsl(150, 100%, 66%);

//Secondary Colors
$bg-card-grayish-blue: hsl(217, 19%, 38%);
$bg-main-dark-grayish-blue: hsl(217, 19%, 24%);

//TYPOGRAPHY
$quote-font-size: 28px;
$font-weight: 800;
$font-family: "Manrope", sans-serif;
